/* .main{
    display: grid;
  place-items: center;
  ;
}

.template-driven{
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  background: dodgerblue;
}

.reactive-form{
  margin-top: 1rem;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: dodgerblue;
} */

