<form novalidate [formGroup]="userForm" (ngSubmit)="save()">
  <div class="form-control">
    <label>name</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-control">
    <label>email</label>
    <input type="text" formControlName="email" />
  </div>
  <div class="form-control">
    <label>Street</label>
    <input type="text" formControlName="street" />
  </div>
  <div class="form-control">
    <label>City</label>
    <input type="text" formControlName="city" />
  </div>
  <div class="form-control">
    <label>Zip</label>
    <input type="text" formControlName="zip" />
  </div>
  <button type="submit" [disabled]="userForm.invalid">Save</button>
</form>
